.circle{ 
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(236, 236, 236);
    margin: 0 auto;
}
p{ 
    text-align: center;
    color: rgb(156, 156, 156);
}
.fab{ 
    color: orange;
    font-size: 60px;
    margin: 22px;
}
h1{ 
    text-align: center;
    color: rgb(156, 156, 156);
}
